.alert-danger{
  background-color: white;
  border: none;
}
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}
.row {
    width: auto;
}
small {
    color: red;
}
.mat-input-element:-webkit-autofill{
    /* Change the white to any color ;) */
/*input:-webkit-autofill {*/
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
/*}*/
}

.bgImg{
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#signUpCard{
    background: rgba(0,0,0,0.2);
    max-width:25vw;
    min-width: 50vw
}
.signUpTitle{
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: Lobster
}